* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 auto;
  max-width: 960px;

  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header,
.footer {
  margin: 5px;

  height: 50px;
  min-height: 50px;

  line-height: 50px;
  font-size: 1.2rem;

  border-radius: 5px;  
  color: white;
  background-color: #7464f3;
}

.header {
  padding: 0 10px;

  display: flex;
  justify-content: space-between;

  &-link {
    color: white;
  }
  &-link:hover {
    color: #d4bff9
  }
  &-profile {
    display: flex;
  }
  &-image {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    align-self: center;

    border-radius: 5px;
    background-color: white;
  }
}
.footer {
  padding-right: 10px;
  text-align: right;
}

.container {
  margin: 0 5px;
  flex-grow: 1;

  display: flex;
  flex-direction: row-reverse;
}

.title {
  display: block;
  margin-top: 5px;

  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  &-image {
    max-width: 600px;
    max-height: 600px;
  }
}

.message-field {
  display: flex;
  flex-direction: column;

  width: 80%;
  padding-left: 5px;

  &-wrapper {
    display: contents;
  }

  &-helper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    font-size: 2rem;
  }
  &-helper-image {
    max-height: 100px;
  }

  &-messages {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 45px;
    min-height: 45px;

    margin-top: 5px;
  }
  &-input {
    width: 100%;
  }
  &-button {
    width: 150px;
    margin-left: 10px !important;
  }
}

.message {
  display: flex;
  margin-bottom: 3px;

  &-text {
    display: block;
    border-radius: 3px;

    padding: 3px 5px;
    background-color: #f1e4f1;
  }
}

.contacts {
  padding: 0 5px;
  margin-left: 10px;
  width: 20%;

  background-color: #d4bff9;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-wrapper {
    display: contents;
  }

  &-root {
    margin: 0 !important;
  }

  &-link {
    color: unset;
    text-decoration: none;
  }
  &-record {
    display: flex;
    justify-content: space-between;
  }

  &-button {
    margin: 5px !important;
  }
}

@keyframes contacts-blinker {
  50% { opacity: 0.3; }
}

.delete-image {
  margin: 3px;

  height: 0.9rem;
  width: 0.9rem;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .contacts {
    width: 13%;

    &-wrapper {
      display: none;
    }
  }
  .message-field {
    width: 87%;

    &-wrapper {
      display: contents;
    }
  }

  /* Show contacts on hover. */
  .contacts:hover {
    width: 87%;

    & ~ .message-field {
      width: 13%;

      // arrow-rigth.svg: sass cannot use relative path to public/images
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiI+PGRlZnM+PGNsaXBQYXRoPjxwYXRoIGZpbGw9IiMwMGYiIGZpbGwtb3BhY2l0eT0iLjUxNCIgZD0ibS03IDEwMjQuMzZoMzR2MzRoLTM0eiIvPjwvY2xpcFBhdGg+PGNsaXBQYXRoPjxwYXRoIGZpbGw9IiNhYWRlODciIGZpbGwtb3BhY2l0eT0iLjQ3MiIgZD0ibS02IDEwMjguMzZoMzJ2MzJoLTMyeiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxwYXRoIGQ9Im0zNDUuNDQgMjQ4LjI5bC0xOTQuMjkgMTk0LjI4Yy0xMi4zNTkgMTIuMzY1LTMyLjM5NyAxMi4zNjUtNDQuNzUgMC0xMi4zNTQtMTIuMzU0LTEyLjM1NC0zMi4zOTEgMC00NC43NDRsMTcxLjkxLTE3MS45MS0xNzEuOTEtMTcxLjljLTEyLjM1NC0xMi4zNTktMTIuMzU0LTMyLjM5NCAwLTQ0Ljc0OCAxMi4zNTQtMTIuMzU5IDMyLjM5MS0xMi4zNTkgNDQuNzUgMGwxOTQuMjkgMTk0LjI4YzYuMTc3IDYuMTggOS4yNjIgMTQuMjcxIDkuMjYyIDIyLjM2NiAwIDguMDk5LTMuMDkxIDE2LjE5Ni05LjI2NyAyMi4zNzMiIHRyYW5zZm9ybT0ibWF0cml4KC4wMzU0MS0uMDAwMTMuMDAwMTMuMDM1NDEgMi45OCAzLjAyKSIgZmlsbD0iIzRkNGQ0ZCIvPjwvc3ZnPg==") no-repeat center;
      transform: rotate(180deg);

      & .message-field-wrapper, & .message-field-helper {
        display: none;
      }
    }

    & .contacts-wrapper {
      display: contents;
    }
  }

  .message-field-helper {
    margin-left: 10px;
  }
}